<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153088947468-1cqnj7ftqlmgi57a2oc6nvc0vrb8tup6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153088947468-1cqnj7ftqlmgi57a2oc6nvc0vrb8tup6</string>
	<key>API_KEY</key>
	<string>AIzaSyDa_XfSUxpbxHHEKIJ0EatOslqAKfzFeBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>153088947468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.edu.unileya.DonateToys</string>
	<key>PROJECT_ID</key>
	<string>donatetoys</string>
	<key>STORAGE_BUCKET</key>
	<string>donatetoys.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153088947468:ios:a41d309867a6cb3c3d0529</string>
</dict>
</plist>